a {
    color: white;
   text-decoration: none;
}
body 
{
   background-image: url("https://media.giphy.com/media/lyLRTrqRpW8YU/giphy.gif");
}
.divTable
{
   width:100%;
   display:block;
   height:100%!important;
   border:0px solid #F60;
   padding:0px;
   background-color:transparent;
   margin:0px;
   line-Height:70px;
}

.divCaption
{
   width:100%;
   background-color:transparent;
   position:relative;
   top: -10px;
   font-family: Consolas;
   font-weight: bold;
   font-size:4vw;
   color:white;
   text-align:center;
   line-height:20px;
   font-weight:bold;
}

.divRow
{
   width:100%;
   display:table;
   position:relative;
   color:#000000;
}

.divCell
{
   border:.5px solid #212548;
   align-self: center;
   width:5%;
   height: 4.5vw;
   overflow: hidden;
   border-radius: 10px;
   display:block;
   position:relative;
   font-size: 1vw;
   font-weight: bold;
   float:left;
   font-family: Consolas;
   text-align:center;
   letter-spacing:0px;
   word-spacing:0px;
   background-color: #aab1b5;
}
.divCellE
{
   border: .5px solid #FF000000;
   width: 5%;
   overflow: hidden;
   display:block;
   position:relative;
   color: white;
   font-size: 30px;
   font-family: Consolas;
   font-weight: bold;
   float:left;
   text-align:center;
   letter-spacing:0px;
   word-spacing:0px;
}
.divCellE2
{
   border: .5px solid #FF000000;
   background-color: #212548;
   border-radius: 30px;
   width: 5%;
   overflow: hidden;
   display:block;
   position:relative;
   color: white;
   font-size: 30px;
   font-family: Consolas;
   font-weight: bold;
   float:left;
   text-align:center;
   letter-spacing:0px;
   word-spacing:0px;
}

.name1{
   float: right;
   height: 0px;
   position: relative;
   right: 8%;
   bottom: 28px;
   text-align: right;
   font-family: inherit;
   font-size: 10px;
   color: white;
}

.number{
   float: left;
   height: 0px;
   position: relative;
   bottom: -28px;
   right: -4px;
   text-align: left;
   font-family: inherit;
   font-size: 10px;
   color: green;
}

.metals{background-color: #b182c9;}
.metaloids{background-color: #8bddd0;}
.noble{background-color: #e05757;}
.non_metal{background-color: #42f465;}
.post_trans_metals{background-color: #4bd4ed}
.lanthanoids{background-color: #e26ce0}
.actinoids {background-color: #e28f6b}
.alkali {background-color:#f4e841}
.earth_alkali {background-color: #f4bc42}